<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="SiteFiles/media/group.png">
 <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="SiteFiles/css/cat.css" type="text/css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Alex Catanzaro</title>
  </head>
  <body>
    <div class="intro">
      <div class="titles">
        <h1>Alex Catanzaro</h1>
        <h3>Software Engineer</h3>
      </div>
    <div class="info-links">
      <a class="info-link" href="SiteFiles/media/AlexCatanzaroResume.docx" download="AlexCatanzaroResume.docx">CV<i class="material-icons">save_alt</i></a>
         <a class="info-link" href="https://www.linkedin.com/in/alex-catanzaro-116a7a29">Linkedin<i class="material-icons">how_to_reg</i></a>
         <a class="info-link" href="mailto:alexcatanzaro@gmail.com">Contact<i class="material-icons">mail_outline</i></a>
    </div>
    </div>
    <div class="about">
<!--resume container-->
      {{ resume_section }}
    <div class="refs">
      {{ references }}
    </div>
    </div>
  </body>
</html>