body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: whitesmoke;
    overflow: auto;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h1, h2, h3{
    font-family: 'PT Serif', serif;
  }

  h1{
    font-size: 36px;
  }

  h3{
    font-size: 24px;
    font-weight: normal;
  }

  li{
    list-style-type: none;
    padding-top: 10px;
  }
  a{
    display: inline-block;
  }

  .info-link{
    font-weight: bold;
    padding-right: 10px;
  }

  .info-link:hover{
    text-decoration: underline;
  }

  .material-icons{
    font-size: 20px !important;
    position: relative;
    top: 5px;
  }

  .intro{
    padding: 25px;
    color: whitesmoke;
    flex: 1;
    justify-content: center;
    background-image: url("../media/ac1.jpg");
    background-position: center;
  }
  

  .info-links{
    margin-top: 25px;
  }

  .about{
    flex: 3;
  }

  .resume-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .resume-section{
    flex: 1;
    max-width: 750px;
  }

  .desc-list{
    padding: 0px 25px;
  }

  .refs{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .references{
    font-style: italic;
    padding-bottom: 25px;
  }

  code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

  @media(min-width: 1200px) {
    .resume-container{
      margin-right: auto;
      margin-left: auto;
      flex-direction: row;
      
    }

    .experience-header{
      flex: 3;
    }
  }